*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
.container{
    width:100%;
    min-height:100vh;
    background-color:rgb(247, 241, 241);
    z-index: -200;
}
nav{
    display:flex;
    justify-content:space-around;
    width:100%;
    height:80px;
    line-height:80px;
    z-index:100;
}
.logo{
    display:flex;
    text-transform:uppercase;
    color:#3d535f;
    letter-spacing: 2px;
    font-size:20px;
    font-weight:700;
    cursor:pointer;
    letter-spacing:3px;
}
b{
    font-size: 70px;
    color:#7f00ff;
}
.navItems{
    display:flex;
}
.navItems li{
    list-style:none;
    margin:0 10px;
}
.navItems li a {
    font-size:15px;
    font-weight:500;
    color:#3d535f;
    letter-spacing:3px;
    text-decoration:none;
    text-transform:capitalize;
}
.navItems li a:hover , .links a:hover{
    color:#7f00ff;
}
.links a{
    width:10px;
    height:10px;
    margin:10px 10px;
}
.wrapper{
    display:flex;
    justify-content:left;
    align-items:center;
    width:100%;
    height:calc(100vh - 80px);
    padding:0 8%;
}
.wrapper::before{
    position:absolute;
    content: '';
    height:300px;
    width:300px;
    border-radius: 50%;
    right:80%;
    top:30%;
    z-index: 1;
    background:linear-gradient(45deg, #7f00ff,pink);
    animation:bigCircle 20s linear infinite;
}
@keyframes bigCircle{
	from {
		transform: rotate(0deg)
		           translate(0.5rem)
		           rotate(0deg);
        opacity:1;
	}
	to {
		transform: rotate(360deg)
		           translate(0.5rem) 
		           rotate(-360deg);
        opacity:1;
	}
}
.wrapper::after{
    position:absolute;
    content: '';
    height:110px;
    width:110px;
    top: 10%;
    left:35%;
    border-radius: 50%;
    background:linear-gradient(45deg, #7f00ff,pink);
    animation: smallCircle 4s linear infinite;
}
@keyframes smallCircle{
	from {
		transform: rotate(0deg)
		           translate(1rem)
		           rotate(0deg);
        opacity:1;
	}
	to {
		transform: rotate(360deg)
		           translate(1rem) 
		           rotate(-360deg);
        opacity:1;
	}
}
.col1{
    width:50%;
}
.cols0{
    z-index: 5;
    width:60%;
}
.topline{
    position:relative;
    display:block;
    letter-spacing:5px;
    font-size: 35px;
    color:#3d535f;
}
.topline::after{
    position:absolute;
    content:'';
    height:4px;
    width:45px;
    bottom:10px;
    color:#3d535f;
    background-color:#7f00ff;
}
h1{
    display:block;
    font-size:4em;
    font-weight:700;
    color:#3d535f;
} 
.multitext{
    color:#7f00ff;
    text-transform:capitalize;
}
p{
    display:block;
    width:90%;
    font-size: 1.2em;
    color:#3d535f;
}

.btns{
    position:relative;
    left:50px;
    width:100%;
}

button{
    color:#fff;
    background-color:#3d535f;
    font-size:15px;
    font-weight:500;
    letter-spacing:2px;
    padding:8px 14px;
    margin: 40px 5px;
    cursor:pointer;
    text-transform:capitalize;
    outline:none;
    box-shadow: 0 10px 10px rgba(0, 0, 0,0.3);
    border:1px;
    border-radius:2px;
    transition:0.85s ease;
}

button:hover{
    background-color:#7f00ff;
    transform:scale(1.08);
}