*{
    padding:0;
    margin:0;
    font-family:sans-serif;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
.skills-section{
    width:100%;
    height:80vh;
}
h2{
    display:flex;
    justify-content:center;
    font-size: 40px;
    font-weight: 600;
    margin:80px;
}
h3{
    display:flex;
    justify-content:center;
    font-size: 25px;
    margin:25px;
}
.skills-container{
    width:100%;
    height:90vh;
    display: grid;
    grid-template-columns: 15% 30% 10% 30% 15%;
}

.skill-card img{
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    margin-top:3px;
}

.all-skills{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap:20px;
}
.skill-card{
    width:100px;
    height:100px;
    border-radius:15px;
    background-color:rgb(248, 248, 248); 
    display:flex;
    flex-direction:column;
    justify-content:center; 
}

.skill-card h4{
    align-self: center;
    margin:7px 0;
}
.skill-card span{
    align-self: center;
}
.skill-card img{
    align-self: center;
}
